<% provide(:title, 'signup') %>
<h1>Sign Up</h1>

<div id="formholder">
	<%= form_for(@logins) do |x| %>
		<%= x.label :name %>
		<%= x.text_field :name %>

		<%= x.label :email %>
		<%= x.text_field :email %>

		<%= x.label :password %>
		<%= x.text_field :password %>

		<%= x.label :password_confirmation %>
		<%= x.text_field :password_confirmation %>

		<%= x.submit "Create new Login", id:"subtmit" %>
	<% end %>
</div>
