<!DOCTYPE html>
<div class="box flex row">
  <div id="left" class="column">
    <div id="feed_holder">
        <a class="twitter-timeline" href="https://twitter.com/Moovweb" data-widget-id="344307862346006529">Tweets by @Moovweb</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div id="right" class="column">
    Development & Project Management
    <div id="dev" class="box flex">
        <div class="people">
          <div class="name">Very Long Name</div>
          <div class="name">2nd</div>
          <div class="name">3rd</div>
          <div class="name">4th</div>
          <div class="name">Phil</div>
        </div>
        <div class="tele">
          <div class="number">###-###-####</div>
          <div class="number">###-###-####</div>
          <div class="number">###-###-####</div>
          <div class="number">###-###-####</div>
          <div class="number">###-###-####</div>
        </div>
        <div class="mail box flex column">
          <div id="1st">
            <%= link_to "1st@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
          </div>
          <div id="2nd">
          <%= link_to "2nd@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
          </div>
          <div id="3rd">
          <%= link_to "3rd@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
          </div>
          <div id="4th">
          <%= link_to "4th@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
          </div>
          <div id="5th">
          <%= link_to "5th@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
          </div>
        </div>
    </div>
    Operations
    <div id="ops" class="box flex row">
      <div class="people column">
        <div class="name">Operations</div>
        <div class="name">Platform</div>
      </div>
      <div class="tele column">
        <div class="number">###-###-####</div>
        <div class="number">###-###-####</div>
      </div>
      <div class ="mail column">
        <div id="opsM">
          <%= link_to "ops@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
        </div>
        <div>
          <%= link_to "platform@moovweb.com", 'mailto:emailm@moovweb.com', class: "email" %>
        </div>
      </div>
    </div>
  </div>
</div>