<% provide(:title, 'Project Information') %>

<% provide(:title, @project.name) %>

<div class="column">
	<h1>Displaying db record <%= @project.id %></h1>
</div>
<div class="column">
	<h2>Client: <%= @project.client %></h2>
	<h2>Project Name: <%= @project.name %></h2>
	<h2>Development Team: <%= @project.team %></h2>
	<h2>Account Manager: <%= @project.am %></h2>
	<h2>Project Manager: <%= @project.pm %></h2>
	<h2>QA Engineer: <%= @project.qa %></h2>
	<h2>Confluence Page: <%= @project.conf %></h2>
	<h2>Jira Page: <%= @project.jira %></h2>
</div>

