<header class="head">
	<div id="m_logo">
    <%= link_to  image_tag("logo.png"), 'http://www.moovweb.com', class: "logo" %>
	</div>
	<div id="h_logo",>
		<%= link_to image_tag("alt-title.png"), '/', class: "logo" %>
	</div>
	<div id="mainNav" class="box flex row" >
		<div id="navList">
	    <%= link_to "LSM Release Schedule", release_path, class: "navLink" %>
	    <%= link_to "Active Dev Projects", active_path, class: "navLink" %>
	    <%= link_to "On-Call Schedule", oncall_path, class: "navLink" %>
	    <%= link_to "Whose Project Is It?", whose_path, class: "navLink" %>
	    <%= link_to "Apollo", 'https://console.moovweb.com/', class: "navLink", target: "_blank" %>
	    <%= link_to "Confluence", 'https://moovwebconfluence.atlassian.net', class: "navLink", target: "_blank" %>
	    <%= link_to "Jira", 'https://moovwebconfluence.atlassian.net', class: "navLink", target: "_blank" %>
	    <% if signed_in? %>
			<li id="fat-menu" class="dropdown navLink">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
				<li><%= link_to "Profile", current_user %></li> <li><%= link_to "Settings", '#' %></li>
				<li class="divider"></li>
				<li>
				<%= link_to "Sign out", signout_path, method: "delete" %> </li>
				</ul>
		<% else %>
		<% end %>
	    </div>
 	</div>
 	
</header>