<header class="head">
	<div class="logo">
        <%= link_to "", 'http://www.moovweb.com', id: "logo-image" %>
	</div>
	<%= link_to "", '/', id: "h_logo" %>

	<div id="mainNav" >
		<ul id="navList">
	    <li><%= link_to "LSM Release Schedule", release_path, class: "navLink" %></li>
	    <li><%= link_to "Active Dev Projects", active_path, class: "navLink" %></li>
	    <li><%= link_to "Upcoming On-Call Schedule", oncall_path, class: "navLink" %></li>
	    <li><%= link_to "Apollo", 'https://console.moovweb.com/', class: "navLink", target: "_blank" %></li>
	    <li><%= link_to "Confluence", 'https://moovwebconfluence.atlassian.net', class: "navLink", target: "_blank" %></li>
	    <li><%= link_to "Jira", 'https://moovwebconfluence.atlassian.net', class: "navLink", target: "_blank" %><li>
	    </ul>
 	</div>
 	
</header>