<div id="mainNav" class="flex column">
    <%= link_to "LSM Release Schedule", release_path, class: "flex1 navLink" %>
    <%= link_to "Active Dev Projects", active_path, class: "flex1 navLink" %>
    <%= link_to "Upcoming On-Call Schedule", 'https://docs.google.com/a/moovweb.com/spreadsheet/ccc?key=0Anjwwj6MxFIsdFlESVJiRllWWkEwNnZfUGIwVFNUa0E#gid=0', class: "flex1 navLink", target: "_blank" %>
    <%= link_to "Apollo", 'https://console.moovweb.com/', class: "flex1 navLink", target: "_blank" %>
    <%= link_to image_tag('/assets/confluence_logo.png', id: "conf"), 'https://moovwebconfluence.atlassian.net', class: "flex1 navLink", target: "_blank" %>
    <%= link_to image_tag('/assets/jira_logo.png', id: "jira"), 'https://moovwebconfluence.atlassian.net', class: "flex1 navLink", target: "_blank" %>
 </div>