<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div class="logo">
        <a href="http://www.moovweb.com" id="logo-image"></a>
        v0.00x
	</div>
	<a href="/" id='h_logo'></a>
		<h2>This will one day hold all inflight information for Client Success projects</h2>
</header>
<body>
	<div class="mainWrapper flex box">
		<div id="mainNav" class="flex column">
		    <a class="flex1 navLink" href="/home/release"><div class="">LSM Release Schedule</div></a>
		    
		    <a class="flex1 navLink" href="/home/active"><div class="">Active Dev Projects</div></a>
		    
		    <a class="flex1 navLink" href="https://docs.google.com/a/moovweb.com/spreadsheet/ccc?key=0Anjwwj6MxFIsdFlESVJiRllWWkEwNnZfUGIwVFNUa0E#gid=0" target="_blank">
		      <div class="">Upcoming On-Call Schedule</div>
		    </a>

		    <a id="apollo" class="flex1 navLink" href="https://console.moovweb.com/" target="_blank">
		       <div class="">Apollo</div>
		    </a>
		    
		    <a class="flex1 navLink logo-align" href="https://moovwebconfluence.atlassian.net" target="_blank">
		        <div class=""><img id ="conf" class="" src="/assets/confluence_logo.png"></div>
		      </a>
		    
		    <a id="jira" class="flex1 navLink logo-align" href="https://moovweb.atlassian.net" target="_blank">
		      <div class=""><img id ="jira" class="" src="/assets/jira_logo.png"></div>
		    </a>
		  </div>
		<%= yield %>

	</div>

</body>
<footer>
	<div>Copyright 2013.</div>
	<div>Issues/Concerns? <a href="mailto:james.gill@moovweb.com?Subject=Portal">E-mail me and let me know.</a>
</footer>
</html>
