<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="mainWrapper flex box">
		<%= render 'layouts/nav' %>
		<%= yield %>

	</div>

</body>
<footer>
	<div>Copyright 2013.</div>
	<div>Issues/Concerns? <%= link_to "E-mail me and let me know.", 'mailto:james.gill@moovweb.com?Subject=Portal' %></div>
</footer>
</html>
