<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @on_call.name %>
</p>

<p>
  <b>Email:</b>
  <%= @on_call.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @on_call.phone %>
</p>

<p>
  <b>Count:</b>
  <%= @on_call.count %>
</p>


<%= link_to 'Edit', edit_on_call_path(@on_call) %> |
<%= link_to 'Back', on_calls_path %>
